<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HangmanApp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="stylesheet.css" />
</head>
<body ng-app="HangmanApp" ng-controller="GameController" class="body">

<header>
    <h1>Hangman</h1>
    <h3>Guess the word</h3>
</header>

<div class="main">
    <div class="">
        Guesses Left :: {{guesses}};
    </div>

    <div class="incorrectGuesses">
        Your incorrect Guesses ::
        <span ng-repeat="letter in incorrectLettersChosen">{{letter}}</span>
    </div>

    <div class="">
        Your correct Guesses ::
        <span ng-repeat="letter in correctLettersChosen">{{letter}}</span>
    </div>

    <div>You have to guess: {{displayWord}}  </div>

    <div>
        <div class="inputArea">
            <input type="text" name="guess" ng-model="input.letter">
            <button ng-click="letterChosen()">Submit</button>
        </div>
    </div>
</div>

</body>
</html>